/*
* Themosis fields general styles.
*/
.themosis-field-container
  > td
    > label
      display block

/*
* Themosis Radio field
*/
.themosis-radio
  label
    display block

/*
* Themosis fields classes.
* Styles for use in fields with text inputs.
*/
.themosis-regular-text
  width 299px
  padding 3px
  border 1px solid #dfdfdf
  margin 1px
  height 158px
