/*
* Themosis fields general styles.
*/
.themosis-field-container
  > td
    > label
      display block

/*
* Themosis radio field
*/
.themosis-radio
  label
    display block

/*
* Themosis editor field
*/
.themosis-wp-editor
  .wp-editor-container
    background-color #ffffff

/*
* Themosis fields classes.
* Styles for use in fields with text inputs.
*/
.themosis-regular-text
  width 299px
  padding 3px
  border 1px solid #dfdfdf
  margin 1px
  height 158px

/*
* Styles for fields if metabox as a 'side' context.
*/
#side-sortables
  .themosis-metabox
    .themosis-label
      display block
      padding 5px 0 0

    .themosis-field
      display block
      padding 15px 0 5px
