.themosis__input__number {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: $blue-medium-100;
    border: 1px solid $blue-medium-200;
    box-sizing: border-box;
    margin: 0;
    cursor: pointer;

    .themosis__svg {
      rect,
      path {
        fill: $blue-medium-900;
      }
    }

    &:hover {
      background-color: darken($blue-medium-100, 5%);
    }

    &:active {
      background-color: lighten($blue-medium-100, 5%);
    }
  }

  .button__minus {
    border-bottom-left-radius: $radius-round-rectangle;
    border-top-left-radius: $radius-round-rectangle;
  }

  .button__plus {
    border-bottom-right-radius: $radius-round-rectangle;
    border-top-right-radius: $radius-round-rectangle;
  }

  input {
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-sizing: border-box;
    width: 70%;
    height: 32px;
    margin: 0;
    text-align: center;
  }
}

/* Desktop */
@media screen and (min-width: 1190px) {
  .themosis__input__number {
    input {
      max-width: $max;
    }
  }
}

/* Side Metabox */
.is-side {
  .themosis__input__number {
    input {
      border-left: none;
      border-right: none;
      border-radius: 0;
      border-color: $light-gray-600;
    }
  }
}