$max: 260px;

$paddingH: 12px;
$paddingV: 16px;

$borderRadius: 4px;
$borderColor: #DDDDDD;

$white: #FFFFFF;
$green: #46B450;
$greyDark: #eeeeee;
$grey: #666666;
$greyLighter: #F5F5F5;
$red: #BE1414;
$redLight: #F2DADA;
$blueDark: #006799;
$blue: #0085BA;
$blueLight: #008EC2;
$blueLightest: #EDEFF0;