@import "vars";

.themosis__metabox {
  &__footer {
    display: flex;
    background: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding: $paddingV $paddingH;
  }
}

.themosis__field {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: $paddingV $paddingH;
  border-bottom: 1px solid #EEEEEE;

  &:last-child {
    border: none;
  }

  &__label {
    font-weight: 600;
  }
}

.themosis__column {
  &__label {
    width: 33.33%;
  }

  &__content {
    width: 66.66%;
  }
}

.themosis__input {
  min-width: 260px;
  border: 1px solid $borderColor;
  border-radius: $borderRadius;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  padding: $paddingH / 2;
}

.themosis__textarea {
  width: 100%;
  max-width: 100%;
  border: 1px solid $borderColor;
  border-radius: $borderRadius;
  padding: $paddingH / 2;
}