<?php

use PhpCsFixer\Config;
use PhpCsFixer\Finder;

/**
 * Plugin PHP code fixer.
 */
$finder = Finder::create()
    ->exclude([
        'bin',
        'node_modules'
    ]);

return Config::create()
    ->setFinder($finder)
    ->setRules([
        '@PSR2' => true,
        'strict_param' => true,
        'array_syntax' => [
            'syntax' => 'short'
        ],
        'concat_space' => [
            'spacing' => 'one'
        ],
        'ordered_imports' => true,
        'no_unused_imports' => true,
        'blank_line_before_return' => true,
        'no_whitespace_in_blank_line' => true,
        'blank_line_after_namespace' => true,
        'single_blank_line_before_namespace' => true,
        'single_line_after_imports' => true,
        'blank_line_after_opening_tag' => true,
        'no_empty_statement' => true,
        'trailing_comma_in_multiline_array' => false,
        'no_blank_lines_after_class_opening' => true,
        'no_blank_lines_after_phpdoc' => true,
        'phpdoc_trim' => true
    ]);
