language: php

notifications:
  email:
    on_success: never
    on_failure: change

branches:
  only:
    - master
    - dev

php:
  - 5.6
  - 7.0
  - hhvm
  #- nightly

env:
  - WP_VERSION=latest WP_MULTISITE=0

matrix:
  include:
    - php: 5.6
      env: WP_VERSION=latest WP_MULTISITE=1

before_script:
  - composer self-update
  - composer install
  - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION

script: vendor/bin/phpunit
