<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    verbose="true">
    <testsuites>
        <testsuite name="Themosis framework">
            <directory suffix="Test.php">./tests</directory>
            <exclude>./tests/deprecated</exclude>
        </testsuite>
    </testsuites>
</phpunit>
