/*
|
| Options input styles
|
*/
.themosis-regular-text
{
	width: 299px;
	padding: 3px;
	border: 1px solid #dfdfdf;
	margin: 1px;
	height: 158px;
}
/*
|
| End Options input styles
|
*/

/*
|
| Themosis custom field styles.
|
*/
.themosis-field-container>td>label {
    display: block;
}

/*
|
| Themosis Radio custom field.
|
*/
.themosis-radio label{
    display: block;
}

/*
|
| Metabox Infinite style
|
*/
.themosis-infinite{
	border-collapse: collapse;
	width: 100%;
	clear: both;
	border-spacing: 0px;
	background-color: #cbcbcb;
}

.themosis-infinite td{
	margin: 0px;
	padding: 0px;
}

/*--- INFINITE ROW ---*/
.themosis-infinite-row{
	background-color: #e1e1e1;
	border: 1px solid #d0d0d0;
}

/*--- INFINITE ORDER CELL ---*/
.themosis-infinite-order{
	width: 31px;
	text-align: center;
	border-right: 1px solid #d0d0d0;
	cursor: move;
    min-width: 31px;
    min-height: 31px;
    vertical-align: middle;
}

.themosis-infinite-order span{
	font-weight: 700;
	color: #8d8d8d;
	text-shadow: 0 1px 0 #fff;
    display: inline-block;
    padding: 13px 0;
}

/*--- INNER TABLE ---*/
.themosis-infinite-inner{
	padding: 1.5em 5px !important;
	background-color: #f9f9f9;
	box-shadow: inset 0 1px 0 #ffffff;
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
}

.themosis-infinite-inner>table{
	width: 100%;
}

/*--- INFINITE LABEL ---*/
.themosis-infinite-label{
	padding: 0 10px 0 10px !important;
}

/*--- INFINITE INPUT ---*/
.themosis-infinite-input{
	width: 80%;
}

/*--- INFINITE OPTIONS ---*/
.themosis-infinite-options{
	width: 31px;
	text-align: center;
	height: 100%;
	border-left: 1px solid #d0d0d0;
	position: relative;
    min-width: 31px;
    min-height: 31px;
}

/* ADD ROW BUTTON */
.themosis-infinite-options:hover .themosis-infinite-add{
	visibility: visible;
}

.themosis-infinite-add{
	display: block;
	width:18px;
	height: 18px;
	background: url('../images/infinite_sprite_001.png') 0 0 no-repeat;
	margin-left: 7px;
	cursor: pointer;
	visibility: hidden;
	position: absolute;
}

.themosis-infinite-add:hover{
	background-position: -18px 0;
}

/* REMOVE ROW BUTTON */
.themosis-infinite-remove{
	display: inline-block;
	width:18px;
	height: 18px;
	background: url('../images/infinite_sprite_001.png') 0 -18px no-repeat;
    margin: 13px auto 9px;
	cursor: pointer;
}

.themosis-infinite-remove:hover{
	background-position: -18px -18px;
}

/*--- ADD FIELD ---*/
.themosis-infinite-add-field-container{
	padding: 10px 0;
}

/*--- PLACEHOLDER STYLE ---*/
.themosis-ui-state-highlight{
	display: block;
}
/*
|
| END Metabox Infinite style
|
*/

/*
|
| Metabox Media style
|
*/
.themosis-media{
	border-collapse: collapse;
	width: 100%;
	clear: both;
	border-spacing: 0px;
}

.themosis-media-preview{
    margin: 0 !important;
    padding: 0 10px 0 0 !important;
    width: 100px !important;
    vertical-align: top !important;
}

.themosis-media-preview .themosis-media-preview-inner{
    width: 100px;
    height: 100px;
    padding: 1px;
    background-color: #ffffff;
    border: 4px solid #e1e1e1;
}

.themosis-media-preview .themosis-media-preview-inner img{
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

.themosis-media-details{
    vertical-align: top !important;
    padding: 0 !important;
}

.themosis-media-inner{
    padding: 5px 0 0 0;
}

.themosis-media-inner .themosis-media-infos{
    padding-bottom: 7px;
}

.themosis-media-inner .themosis-media-infos h4{
    padding: 0;
    margin: 0 0 5px 0 !important;
}

.themosis-media-inner .themosis-media-infos .themosis-media__path{
    background-color: #f0f0f0;
    padding: 2px 5px 3px 5px;
    margin-top: 0;
    border: 1px solid #dddddd;
    color: #888888;
}

.themosis-media-inner .themosis-media__buttons{
    width: 100px;
}

.themosis-media--hidden{
    display: none !important;
}

/*
|
| END Metabox Media style
|
*/

/**
 * Metabox Editor style
*/
.themosis-wp-editor .wp-editor-container{

    background-color: #ffffff;

}

/*** Page API ***/
.themosis-core-page table.form-table tbody tr>td>label{
    display: block;
}