.themosis__choice__group {
  display: block;
  color: $dark-gray-400;
  margin-bottom: $paddingV;
  font-weight: 600;

  &:not(:first-child) {
    margin-top: $paddingV;
  }
}

.themosis__choice__item {
  display: inline-block;
  margin-right: $paddingV;
  margin-bottom: $paddingV / 2;

  &:last-child {
    margin-right: 0;
  }

  .themosis__input__checkbox,
  .themosis__input__radio {
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .themosis__field__label {
    display: inline-block;
    margin-top: -3px;
    font-weight: 400;
  }
}