.themosis-infinite
  border-collapse collapse
  width 100%
  clear both
  border-spacing 0px
  background-color #cbcbcb

  td
    margin 0
    padding 0

/* Row */
.themosis-infinite-row
  background-color #e1e1e1
  border 1px solid #d0d0d0

/* Order cell */
.themosis-infinite-order
  width 31px
  text-align center
  border-right 1px solid #d0d0d0
  cursor move
  min-width 31px
  min-height 31px
  vertical-align middle

  span
    font-weight 700
    color #8d8d8d
    text-shadow 0 1px 0 #fff
    display inline-block
    padding 13px 0

/* Inner table */
.themosis-infinite-inner
  padding 1.5em 5px !important
  background-color #f9f9f9
  box-shadow inset 0 1px 0 #ffffff

  >table
    width 100%

/* Label */
.themosis-infinite-label
  padding 0 10px 0 10px !important

.themosis-label
  text-align left
  vertical-align top
  padding 10px 0

  label
    font-weight 600
    text-align left

/* Input */
.themosis-infinite-input
  width 80%

/* Options */
.themosis-infinite-options
  width 31px
  text-align center
  height 100%
  border-left 1px solid #d0d0d0
  position relative
  min-width 31px
  min-height 31px

  &:hover
    .themosis-infinite-add
      visibility visible

/** Buttons **/
/* Add row */
.themosis-infinite-add
  display block
  width 18px
  height 18px
  background url('../../../images/infinite_sprite_001.png') 0 0 no-repeat
  margin-left 7px
  cursor pointer
  visibility hidden
  position absolute

  &:hover
    background-position -18px 0

/* Remove row */
.themosis-infinite-remove
  display inline-block
  width 18px
  height 18px
  background url('../../../images/infinite_sprite_001.png') 0 -18px no-repeat
  margin 13px auto 9px
  cursor pointer

  &:hover
    background-position -18px -18px

/* Main Add button */
.themosis-infinite-add-field-container
  padding 10px 0

/* Placeholder style */
.themosis-ui-state-highlight
  display block

/* Styles for side context */
#side-sortables
  .themosis-infinite-inner
    .themosis-label
      width 100%