.themosis__select {
  &__body {
    position: relative;
  }

  &__field {
    position: relative;
    display: inline-block;
    border-radius: $borderRadius;
    border: 1px solid $borderColor;
    width: 100%;
    min-width: $max;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .07);
    box-sizing: border-box;
    z-index: 3;
    background-color: $white;
  }

  &__input {
    position: absolute;
    padding: $paddingV / 2;
    border-radius: $borderRadius;
    box-sizing: border-box;
    width: 100%;
    min-width: $max;
    max-width: 100%;
    z-index: 2;
    margin: 0;
    box-shadow: none !important;
    border: none !important;
    background: none !important;
    top: 0;
  }

  &__output {
    position: relative;
    display: inline-block;
    padding: $paddingV / 2;
    min-height: 19px;
    z-index: 3;
    pointer-events: none;
    top: 0;
    left: 0;
  }

  &__list {
    position: absolute;
    width: 100%;
    padding: 9px 8px;
    background-color: $greyLighter;
    border: 1px solid $borderColor;
    border-radius: $borderRadius;
    top: 100%;
    left: 0;
    box-sizing: border-box;
    margin-top: -6px;
    display: none;
    z-index: 1;
    max-height: 200px;
    overflow-y: scroll;
  }

  .icon__arrow__down {
    position: absolute;
    width: 12px;
    height: 7px;
    right: $paddingV / 2;
    top: 15px;
    z-index: 5;

    path {
      fill: $grey;
    }
  }

  &__tag {
    display: inline-block;
    padding: $paddingH / 4 10px $paddingH / 3;
    background-color: $blue;
    color: $white;
    margin: 0 6px 6px 0;
    line-height: 1;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
      color: $white;
      background-color: $blueDark;
    }

    &:active {
      color: $white;
      background-color: $blueLight;
    }

    .icon__close {
      margin-left: 10px;
    }
  }
}

.themosis__select.multiple {
  .themosis__select__field {
    min-height: 34px;
    padding: $paddingH / 2 26px $paddingH / 2 $paddingH / 2;
    cursor: text;
  }

  .themosis__select__input {
    position: static;
    padding: 0;
    width: 2.2em;
    min-width: auto;
    max-width: 100%;
  }

  .icon__arrow__down {
    top: $paddingH + 1;
  }
}

.themosis__select.multiple.selection {
  .themosis__select__field {
    padding: $paddingH / 2 26px 0 $paddingH / 2;
  }
}

.themosis__select__output.open {
  min-height: 15px;
}

.themosis__select__output.default {
  color: lighten($grey, 30%);
}

.themosis__select__output.open.selection {
  color: lighten($grey, 30%);
  min-height: 19px;
}

.themosis__select__output.multiple {
  position: absolute;
  top: 6px;
  left: 8px;
  padding: 0;
}

.themosis__select__output.selection.multiple {
  display: none;
}

.themosis__select__list.open {
  display: block;
}

.themosis__select__item {
  border-radius: $borderRadius;
  padding: 8px 10px;
  cursor: pointer;

  &:hover {
    background-color: $blue;
    color: $white;
  }
}

.themosis__select__item.notfound {
  cursor: default;

  &:hover {
    background: none;
    color: inherit;
  }
}